{% extends 'posts/base.html' %}

{% block title%}
    Профиль - {{ profile.user.username }}
{% endblock %}

{% block page_content %}
    {% if profile.avatar %}
        <p><img src="{{ profile.avatar. url }}" style="width: 250px; height: 250px"></p>
    {% endif %}
    <h3>Обо мне:</h3>
    <p>{{ profile.about }}</p>
    <h3>Дата рождения:</h3>
    <p>{{ profile.birth_date }}</p>
    <div>
        <div>
            <p>Подписчиков: {{ profile.get_subscribes_count }}</p>
            <div>

            </div>
            <p>Подписки: {{ profile.get_subscriptions_count }}</p>
        </div>
    </div>
{% endblock %}